@import '_functions';
@import '_mixins';

:root {
  // === UNSORTED ==============================================================

  --site-width: 896px;
  --site-bg-color: var(--page-bg-color);

  // === SIDEBAR ===============================================================

  --sidebar-mobile-divider: 1px solid var(--layout-lineart-color);
  --sidebar-mobile-divider-margin: 0 var(--layout-spacing-horizontal-small);

  // === CONTENT LISTS =========================================================

  --content-li-hr-border: 1px solid var(--hr-border-color, var(--layout-lineart-color));

  // === BACKGROUNDS ===========================================================

  --bg-50-free: #{hsl_code_free(222, 12, 77)};
  --bg-100-free: #{hsl_code_free(222, 12, 65)};
  --bg-200-free: #{hsl_code_free(222, 12, 51)};
  --bg-300-free: #{hsl_code_free(222, 12, 35)};
  --bg-400-free: #{hsl_code_free(222, 13, 28)};
  --bg-500-free: #{hsl_code_free(222, 13, 23.5)};
  --bg-600-free: #{hsl_code_free(222, 14, 20.5)};
  --bg-700-free: #{hsl_code_free(221, 16, 17)};
  --bg-800-free: #{hsl_code_free(219, 15, 12)};
  --bg-900-free: #{hsl_code_free(222, 25, 8)};
  --bg-950-free: #{hsl_code_free(222, 60, 4)};

  // === FOREGROUNDS ===========================================================

  &,
  .chapter-formatting {
    --fg-100: #{hsl_font_code(222, 40, 94)};
    --fg-200: #{hsl_font_code(222, 26, 90)};
    --fg-300: #{hsl_font_code(224, 20, 86)};
    --fg-400: #{hsl_font_code(222, 18, 81)};
    --fg-500: #{hsl_font_code(222, 18, 73)}; // Contrast ratio vs bg-700 ~ 7.12
    --fg-600: #{hsl_font_code(224, 18, 68)}; // Contrast ratio vs bg-700 ~ 6.04
    --fg-700: #{hsl_font_code(224, 16, 62)}; // Contrast ratio vs bg-700 ~ 4.99
    --fg-800: #{hsl_font_code(222, 12, 58.1)}; // Contrast ratio vs bg-700 ~ 4.5
    --fg-900: #{hsl_font_code(222, 11, 51)}; // Contrast ratio vs bg-700 ~ 3.51
    --fg-950: #{hsl_font_code(222, 9, 46.1)}; // Contrast ratio vs bg-700 ~ 3
    --fg-tinted: #{hsl_font_code(224, 22, 73)}; // Contrast ratio vs bg-700 ~ 6.97
    --fg-inverted: #{hsl_font_code(222, 20, 6)}; // Contrast ratio vs bg-200 ~ 4.61
  }

  // === LAYOUT ================================================================

  --layout-spacing-vertical: 48px;
  --layout-lineart-color: var(--bg-400);
  --layout-hr-border: 1px solid var(--hr-border-color, var(--layout-lineart-color));
  --layout-hr-border-dashed: 1px dashed var(--hr-border-color, var(--layout-lineart-color));
  --layout-link-color-hover: var(--fg-100);

  body {
    --layout-spacing-horizontal: 16px;
    --layout-spacing-horizontal-small: #{get_clamp(10, 16, 320, 375, '%')};
  }

  // === PAGE ==================================================================

  --page-inset-top: 0px;

  // === NAVIGATION ============================================================

  --navigation-border-color: var(--bg-400);
  --navigation-item-background-hover: transparent;
  --navigation-subitem-background-hover: transparent;
  --navigation-color: var(--fg-500);
  --navigation-color-hover: var(--fg-100);
  --navigation-font-size: 15px;

  // === COLORS - LINKS ========================================================

  --heading-link-color: var(--fg-400);
  --heading-link-color-hover: var(--fg-100);

  --inline-link-color: var(--fg-100);
  --inline-link-color-hover: var(--fg-100);
  --inline-link-color-visited: var(--fg-100);

  // === POPUP MENU ============================================================

  --popup-menu-background: var(--navigation-submenu-background);
  --popup-menu-background-hover: transparent;
  --popup-menu-background-selected: var(--bg-500);
  --popup-menu-background-selected-hover: var(--bg-500);
  --popup-menu-color: var(--fg-500);
  --popup-menu-color-hover: var(--fg-100);

  // === SPECIFIC OVERRIDES ====================================================

  --post-meta-link-color-hover: var(--fg-100);
  --follow-title-link-color: var(--fg-500);

  --card-style-border-width: 1px;

  .tag-pill {
    --tag-inline-color-hover: var(--fg-100);
  }
}

:root[data-mode=light] {
  // === COLORS ================================================================

  --primary-400: hsl(220, 89%, 52%);
  --primary-500: hsl(221, 79%, 44%);
  --primary-600: hsl(223, 68%, 36%);

  // === FOREGROUNDS ===========================================================

  &,
  .chapter-formatting {
    // Needs to be repeated to force recalculation in chapters

    --fg-100: #{hsl_font_code(225, 78, 0)};
    --fg-200: #{hsl_font_code(224, 69, 3)};
    --fg-300: #{hsl_font_code(220, 52, 6)};
    --fg-400: #{hsl_font_code(221, 37, 10)};
    --fg-500: #{hsl_font_code(225, 25, 15)};
    --fg-600: #{hsl_font_code(217, 18, 29)};
    --fg-700: #{hsl_font_code(223, 11, 37)};
    --fg-800: #{hsl_font_code(220, 9, 45)};
    --fg-900: #{hsl_font_code(218, 10, 56)};
    --fg-950: #{hsl_font_code(218, 10, 68)};
    --fg-tinted: #{hsl_font_code(217, 28, 16)};
    --fg-inverted: #{hsl_font_code(210, 20, 99)};
  }

  // === NAVIGATION ============================================================

  --navigation-border-color: var(--bg-400);
  --navigation-submenu-background: var(--bg-800);
  --navigation-item-background-hover: transparent;
  --navigation-subitem-background-hover: transparent;
  --navigation-color: var(--fg-600);
  --navigation-color-hover: var(--fg-100);
  --navigation-subitem-color: var(--popup-menu-color);
  --navigation-subitem-color-hover: var(--popup-menu-color-hover);

  // === COLORS - LINKS ========================================================

  --inline-link-color: var(--primary-500);
  --inline-link-color-hover: var(--primary-500);
  --inline-link-color-visited: var(--primary-600);

  // === POPUP MENU ============================================================

  --popup-menu-background-hover: transparent;
  --popup-menu-background-selected: var(--bg-900);
  --popup-menu-background-selected-hover: var(--bg-900);
  --popup-menu-color: var(--fg-950);
  --popup-menu-color-hover: var(--fg-inverted);

  // === SPECIFIC OVERRIDES ====================================================

  --follow-title-link-color: var(--navigation-subitem-color);
  --follow-title-link-color-hover: var(--navigation-subitem-color-hover);
  --follow-meta-color: var(--fg-900);
}

:root.minimal {
  @include bp(375px) {
    --layout-spacing-horizontal-minimal: 16px;
    --layout-spacing-vertical-minimal: 48px;
  }

  @include bp(phablet) {
    --layout-spacing-horizontal-minimal: 16px;
  }

  @include bp(tablet) {
    --layout-spacing-horizontal-minimal: 16px;
    --layout-spacing-vertical-minimal: 48px;
  }

  @include bp(desktop) {
    --layout-spacing-horizontal-minimal: 16px;
    --layout-spacing-vertical-minimal: 48px;
  }

  .has-sidebar {
    --layout-spacing-horizontal: var(--layout-spacing-horizontal-minimal);
    --layout-spacing-horizontal-small: var(--layout-spacing-horizontal-minimal);

    @include bp(desktop) {
      --layout-spacing-horizontal-minimal: 16px;
    }
  }
}

@import '_header';
@import '_navigation';
@import '_footer';

.follow-title-link {
  font-weight: 400;
}

.current-reading::after,
.selected-paragraph::after {
  border-radius: var(--layout-border-radius-small);

  @include bp(desktop) {
    max-width: calc(100% + var(--layout-spacing-horizontal));
  }
}

.current-bookmark::before {
  @include bp(desktop) {
    max-width: calc(100% + var(--layout-spacing-horizontal));
  }
}
